/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;      /* ajouté pour éviter le décallage du trait au dessus des liens */
    margin-bottom: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header {
    display: flex;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 25px;
}

.logo {
    display: flex;
    align-items: center;
    height: 79px;
}

.logo a {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 61.09px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    margin-top: 0;
    padding-top: 16px;
}

nav li a:hover {
    color: #0065FC;
}

nav li:hover {
    border-top: 2px solid #0065FC;
    padding-top: 14px;
}

/****** Title ***********/

.subtitle {
    margin: 8px 0;
}

/****** Search ***********/

.search-container {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: var(--main-bg-color);
    width: 377px;
    height: 49px;
    margin: 35px 0;
    position: relative;
}

.search-ico-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 49px;
}

.search-icon {
    color: black;
    cursor: pointer;
  }

.search-input {
    border: none;
    height: 47px;
    padding: 0 0 0 20px;
    margin: 0;
    flex-grow: 1;
    font-weight: bold;
    background-color: white;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    margin: -20px;
    padding: 0;
    width: 132px;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.mobile-search-button {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 49px;
    width: 49px;
    border-radius: 15px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.mobile-search-button i {
    color: white;
}

input {
    font-size: 18px;
    font-weight: bold;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: black;
    font-size: 18px;
    opacity:1
}

/****** Filters ***********/

.filters {
    display: flex;
    align-items: baseline;
    font-weight: bold;
}

.filters-container {
    display: flex;
    align-items: baseline;
}

.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2.5px solid var(--main-bg-color);
    border-radius: 25px;
    height: 45px;
    width: auto;
    padding: 0px 19px;
    margin-left: 15px;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

.filter-text {
    margin-left: 10px;
    margin-right: 10px;
}

.filter-info-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.filter-info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 10px;
    border-radius: 50%;
    border: 2.5px solid var(--main-bg-color);
    margin-right: 10px;
    aspect-ratio: 1/1;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    /* align-content: flex-start; */
}

.hebergements-cards a {
    width: calc(33% - 15px);
    display: flex;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    flex: 1;
}

.hebergements-cards img {
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 10px 0 0 0;
}

.hebergements-cards .card-rating {
    margin: 5px 0;
}

.show-more {
    font-weight: bold;
    margin-top: 33px;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activities {
    margin: 30px
}

.activities-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 33px;
    margin-bottom: 60px;
}

.activities-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.activities-card img {
    height: 86%;
    width: 100%;
    object-fit: cover;
}

.activities-card .card-txt {
    height: 14%;
    display: flex;
    align-items: center;
}

.activities-card .card-title {
    margin-left: 20px;
}

/****** Footer ***********/

footer {
    background-color: var(--main-bg-color);
}

.lists-container {
    display: flex;
}

.footer-list {
    flex: 1 1 0;    /* voir ci-dessous les valeurs */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    padding: 20px;
}

.footer-list h3 {
    margin: 0 0 10px 0;
}

.footer-list ul {
    padding: 0;
}

.footer-list li {
    list-style: none;
    margin-bottom: 20px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (max-width: 1024px) {

    .main-container {
        padding: 0 30px;
    }

    .filters {
        display: inline;
    }

    .filter {
        margin-left: 0;
        margin-right: 15px;
    }

    .hebergements-and-populaires {
        margin-top: 30px;
        flex-direction: column;
    }

    .card-title {
        font-size: 15px;
    }

    .card-subtitle {
        font-size: 14px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-subtitle {
        margin: 0;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .populaires-cards a {
        width: calc(33% - 10px);
    }

    .populaires {
        margin-bottom: 30px;
    }

    .activities-cards {
        gap: 20px;
    }

    .activities-cards a {
        height: 250px;
    }

    .activities-card img {
        height: 72%;
    }
    
    .activities-card .card-txt {
        height: 28%;
    }

    .activities-card .card-title {
        margin-left: 15px;
    }

}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {


    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    header {
        margin: 20px 0 10px 0;
        flex-direction: column;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav li {
        margin-left: 0;
        flex: 1; /* les 2 blocs prennent la même place en largeur */
        text-align: center;
        border-bottom: 2px solid var(--main-bg-color);
        padding-bottom: 15px;
    }

    nav li:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        padding-top: 16px;
    }

    .title-and-search {
        padding: 20px 20px 0 20px;
    }

    .search-container {
        width: 100%;
    }

    .search-button {
        display: none;
    }

    .mobile-search-button {
        display: flex;
    }

    .filters-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        font-size: 14px;
    }

    .filter {
        margin-right: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements {
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%
    }

    .hebergements-cards .card {
        margin-top: 15px;
    }

    .populaires {
        padding: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activities {
        padding: 30px 40px 0 40px;
        margin: 0;
    }

    .activities-cards {
        grid-template-columns: 1fr;
    }

    .activities-cards a {
        height: 180px;
    }

    .lists-container {
        flex-direction: column;
    }

    .footer-list {
        padding: 30px 30px 0 30px;
    }
}